button:focus {
  // color: #0078d4; /* Change the icon color on focus */
  outline: none; /* Remove the outline if needed */
  text-decoration: none;
  border: none;
  box-shadow: none;
}
.tool {
  outline: none;
  user-select: none;
}
.tool:focus {
  outline: none;
}

button {
  user-select: none; /* Prevents text selection, can also prevent the box around icon */
}
/* Same behavior for select elements */
select {
  user-select: none; /* Prevents text selection */
  border: 1px solid #ccc;
  padding: 2px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
}

/* Remove default focus outline and prevent text selection for select */
select:focus {
  outline: none; /* Remove the default outline */
}

/* In your CSS file */
.custom-select .MuiOutlinedInput-root {
  border: none;
}
.custom-select .MuiOutlinedInput-root fieldset {
  border: none;
}

/* Basic styles for the select element */
select {
  user-select: none; /* Prevents text selection */
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-appearance: none; /* Remove default styling in WebKit-based browsers (e.g. Safari, Chrome) */
  -moz-appearance: none; /* Remove default styling in Firefox */
  appearance: none; /* Ensure consistent styling across all browsers */
}

/* Custom focus style */
select:focus {
  outline: none; /* Remove the default focus outline */
}

body {
  background-color: #1f1f1f;
}

.MuiOutlinedInput-input {
  padding: 0;
}
/* Input fields themselves */
.sketch-picker input {
  background-color: #f0f0f0 !important; /* Light gray background */
  color: #333 !important; /* Dark text color */
  border: 1px solid #ccc !important; /* Subtle border */
  border-radius: 5px !important; /* Rounded corners */
  padding: 5px !important; /* Padding inside input fields */
  font-size: 14px !important; /* Adjust font size */
  outline: none !important; /* Remove focus outline */
}
